<p style="color: green"><%= notice %></p>

<%= render @skill %>

<div>
  <%= link_to "Edit this skill", edit_character_skill_path(@character, @skill) %> |
  <%= button_to "Destroy this skill", character_skill_path(@character, @skill), method: :delete %>
</div>
